{
"storage_path":                 "../test_data/",

"msg_host":                     "dev.msg.hykr.io",
"msg_port":                     1443,
"msg_api_key":                  "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",

"kds_host":                     "dev.kds.hykr.io",
"kds_port":                     443,
"kds_cache_expiration":         -1,
"kds_api_key":                  "UNTRUSTED_API_KEY",
"kds_root_certificate":         "-----BEGIN CERTIFICATE-----\nMIIBoDCCAUWgAwIBAgIJALJOHjjAY42bMAoGCCqGSM49BAMCMCwxKjAoBgNVBAMM\nIUhZS0VSX0RFVkVMT1BNRU5UX0NBX0RPX05PVF9UUlVTVDAeFw0xNzEwMDQxNDQw\nNTJaFw0yNzEwMDIxNDQwNTJaMCwxKjAoBgNVBAMMIUhZS0VSX0RFVkVMT1BNRU5U\nX0NBX0RPX05PVF9UUlVTVDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABG0jjTQs\nFCnTYOpRik3qIOuZkGvet9Z+3mzVhhhMdJ4Oc+v5+8dR8qqSskyq4YytO+H7dySq\nLxU4pG4L2rzqmUCjUDBOMB0GA1UdDgQWBBSpUu5tEEvb5NxolVI5jauQljSb8jAf\nBgNVHSMEGDAWgBSpUu5tEEvb5NxolVI5jauQljSb8jAMBgNVHRMEBTADAQH/MAoG\nCCqGSM49BAMCA0kAMEYCIQCNpMt38MCafJcbo1OPzhI9AAavCpUHJbDHW9+YLbvz\nwQIhAI0ZRPhOsGsNMWm0pDq91c7yx4jUcpsHZTjR80iof1EQ\n-----END CERTIFICATE-----",

"replay_protector_window_size": 1000,
"key_relay_enabled":            false
}
