{
"storage_path":                 "../test_data/",

"msg_host":                     "dev.msg.hykr.io",
"msg_port":                     1443,
"msg_public_api_key":           "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
"msg_private_api_key":          "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",

"kds_host":                     "dev.kds.hykr.io",
"kds_port":                     8443,
"kds_cache_expiration":         -1,
"kds_api_key":                  "UNTRUSTED_API_KEY",
"kds_root_certificate":         "root_certificate.pem",

"replay_protector_window_size": 1000,
"key_relay_enabled":            false
}
